<!-- list -->
<ul class="wraplist wrapper-menu">

        <a href="javascript:;">
        <span class="title">Products</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="openmart.home.store">Store</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="openmart.home.cart">Cart</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="openmart.home.product-edit">Edit Product</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="openmart.home.product-add">Add Product</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="openmart.home.checkout">Add Product</a>
            </li>

        </ul>
    </ul>

<!--  list -->