<p class="text-info">
    <a class="glyphicon glyphicon-shopping-cart"></a><span>Your Cart
<br>You may edit the items or <a ui-sref="openmart.home.store">go back to the store</a> or
    <a ui-sref="openmart.home.checkout"> Proceed to Checkout</a>

 </span>

</p>
<div >
    <div>
        <div class="table table-filter">
            <!-- items -->
            <table class="table table-filter">

                <!-- header -->
                <tr class="well">
                    <td><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.title}}</td>
                    <td class="tdCenter">
                        <div class="input-append">
                            <!-- use type=tel instead of  to prevent spinners -->
                            <input
                                    class="span3 text-center" type="tel"
                                    ng-model="item.quantity"
                                    ng-change="cart.saveItems()" />
                            <button
                                    class="btn btn-success" type="button"
                                    ng-disabled="item.quantity >= 1000"
                                    ng-click="cart.addItem(item.id, item.title, item.price, +1)">+</button>
                            <button
                                    class="btn btn-inverse" type="button"
                                    ng-disabled="item.quantity <= 1"
                                    ng-click="cart.addItem(item.id, item.title, item.price, -1)">-</button>
                        </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.id, item.title, item.price, -10000000)" >
                            <i class="icon-remove" />
                        </a>
                    </td>
                </tr>

                <td title="Clear Cart" ng-hide="cart.items.length < 1" ng-click="cart.clearItems()">
                    <a>Clear All Items</a>   <i class="glyphicon-star-empty"/>
                </td>
                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    <td />
                </tr>
            </table>
        </div>
    </div>
</div>


